.about-card {
  margin-top: 10vh;
  padding:2rem 1rem;
  background-color: #F8F8F8;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.about-icon {
  width: 16%;
  float: left;
  margin-top: -4rem;
  margin-left: 1rem;
}

.tag {
  font-size: 16px;
  padding: 0.2rem;
  background: #D3D3D3;
  display: inline-block;
  border-radius: 0.1rem;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.18);
}

.about-title-text {
  justify-content: left;
}

.education {
  margin-top: -50vh;
}
