.contact-card {
  margin-top: 2rem;
  padding:2rem 1rem;
  background-color: #F8F8F8;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: auto;
  text-align: left;
}

.contact-title {
  display: inline-block;
  text-align: left;
}

.contact-title-wrap {
  margin-bottom: -0.5rem;
}

.contact-icon {
  width: 4rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.contact-container {
  padding: 2rem 0rem;
  padding-bottom: 4rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media(min-width: 576px) {
    background: url('../images/backgrounds/background11.jpg') no-repeat center center fixed;
  }
  @media(max-width: 576px) {
    background: url('../images/backgrounds/background11.jpg');
  }
}

.contact-form {
  margin: 1rem;
}

.email-field {
  margin-bottom: 1rem;
}

.name-field {
  margin-bottom: 1rem;
}

.message-field {
  margin-bottom: 1rem;
  height: 10rem;
}

.contact-btn {
  border: 0.04rem solid #d3d3d3;
}

.contact-btn:hover{
  opacity: 0.5;
}

.contact {
  margin-bottom: 4rem;
}

.footer-text {
  color: white;
  @media(max-width: 576px) {
    font-size: 1rem;
  }
}

.footer {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    color: white;
    @media(min-width: 576px) {
      text-align: right;
    }
    @media(max-width: 576px) {
      text-align: center;
    }
}
