$margins: 0.5px;
$rows: 3; //change this also in js
$cols: 5; //change this also in js
$perspective: 700px;
$transTime: 0.3s;
$border-radius: 5px;
$shadow-size: 10px;
$demo-bg: linear-gradient(60deg, #5B5893, darken(#6A66A6, 30%));
$gallery-bg: #eee;
$partSize: 120px;

.content-card {
  margin-top: 3rem;
  padding:1rem 1rem;
  background-color: #F8F8F8;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
}

.content-container {
  padding: 1.5rem 0rem;
  padding-bottom: 4rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media(min-width: 576px) {
    background: url('../images/backgrounds/abstract1.jpg') no-repeat center center fixed;
  }
  @media(max-width: 576px) {
    background: url('../images/backgrounds/abstract1.jpg');
  }
}

.pictures {
  margin-top: 2rem;
}

.title-text {
  padding-bottom: 1rem;
  text-align: left;
  margin-left: 1rem;
  display: inline-block;
}

.content-icon {
  width: 3rem;
  margin-bottom: 1rem;
  margin-right: 0.6rem;
}

.content-header-wrap {
  padding-top: 0.8rem;
  padding-left: 1.5rem;
  text-align: left;
}

.blog-img {
  @media(min-width: 576px) {
    width: 8rem;
  }
  @media(max-width: 576px) {
    width: 6rem;
  }
  border-radius: 0.3rem;
  height: 6rem;
}

.blog-post {
  overflow: hidden;
  align-items: center;
}

.blog-title {
  margin-top: 0.5rem;
  font-size: 90%;
  font-style: italic;
  color: black;
}

.blog-container {
  align-items: center;
}

.video {
  padding-bottom:0.6rem;
}

.video-img {
  border-radius: 0.4rem;
  @media(min-width: 576px) {
    width: 8.5rem;
  }
  @media(max-width: 576px) {
    width: 6rem;
  }
}

.video-title {
  margin-top: 0.5rem;
  font-size: 90%;
  font-style: italic;
  color: black;
}

.gallery-container {
  @media(max-width: 768px) {
    margin: 0 -4rem -4rem -4rem;
  }
  @media(max-width: 576px) {
    margin: 0 -8rem -10rem -8.5rem;
  }
  @media(min-width: 768px) {
    margin: 0 auto;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.demo__gallery {
  @media(max-width: 768px) {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
  }
  @media(max-width: 576px) {
    -webkit-transform:scale(0.55);
    -moz-transform:scale(0.55);
    -ms-transform:scale(0.55);
    transform:scale(0.55);
  }
  @media(min-width: 768px) {
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -ms-transform:scale(1.0);
    transform:scale(1.0);
  }
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.demo {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: $demo-bg;

  &__gallery {
    width: $cols * $partSize + 2 * $cols * $margins + 2 * $margins;
    padding: $margins;
    flex-shrink: 0;

    background: $gallery-bg;

    perspective: $perspective;
    border-radius: $border-radius;
  }

  &__part {
    position: relative;
    float: left;

    width: $partSize;
    height: $partSize;
    margin: $margins;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all $transTime ease-in-out;

    &:hover .demo__part-front {
      box-shadow: 0 0 $shadow-size black;
      transform: scale(0.96);

      &:after {
        opacity: 0;
      }
    }
  }

  &__part-front, &__part-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
    backface-visibility: hidden;
    border-radius: $border-radius;
    cursor: pointer;


  }

  &__part-front {
    background-color: lightslategrey;
    background-size: cover;
    background-position: center;

    transform: rotateX(0deg);
    transition: all $transTime / 1.5 ease;

    &:after {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: black;

      content: "";
      opacity: 0.5;
      transition: all $transTime / 1.5 ease;
    }
  }

  &__part-back {
    transform: rotateY(180deg) rotateX(0deg);
  }

  &__part-back-inner {
    width: $partSize * $cols + $margins * ($cols - 1) * 2;
    height: $partSize * $rows + $margins * ($rows - 1) * 2;

    background-image: url(http://kirillkiyutin.com/img/nyc/nyc1.jpg);
    background-size: cover;
    background-position: center;

    backface-visibility: hidden;
  }

  &__help {
    margin-bottom: 7px;
    font-size: 30px;
    font-family: "Yanone Kaffeesatz", sans-serif;

    color: white;

    & a {
      color: white;

      &:hover {
        color: #E39999;
      }
    }
  }
}

@for $row from 1 through $rows {
  @for $col from 1 through $cols {
    .demo__part-#{$row}-#{$col} .demo__part-back-inner {
      transform: translate( -($col - 1) * ($partSize + $margins * 2), -($row - 1) * ($partSize + $margins * 2) );
    }
  }
}

.show-front {
  transform: none;
}
