.home {
  background-image: url('../images/backgrounds/abstract6.jpg');
  opacity: 0.9;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -10;
  display: block;
}

.home-card {
  margin-top: 20vh;
  margin-right: 10rem;
  padding:2rem 1rem;
  background-color: #F8F8F8;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.description-text {
  font-style: italic;
}

.card-text{
  font-size: 16px;
  text-align: left;
  padding: 0 1rem;
}

.headshot {
  border-radius: 50%;
  width: 22rem;
  margin-top: 10vh;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#more-arrows {
	width: 75px;
  height: 65px;
  margin-top: 75vh;

  &:hover {

    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }

    }

  }

}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;

  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}

}
