/* eslint-disable */
@import './nav';
@import './colors';
@import './home';
@import './about';
@import './content';
@import './portfolio';
@import './contact';
@import url('https://fonts.googleapis.com/css?family=Exo|Karla|News+Cycle|Quattrocento+Sans');

/**
 * General styling
 */

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  width: 100vw;
  font-size: 1.2rem;
  background: #f5f5f5;
  font-family: 'Exo', sans-serif;
  // background-image: url('../images/backgrounds/abstract6.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

a {
  text-decoration: none;
  // color: $secondary;

  &:visited {
    // color: $secondary;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    // color: $secondary-dark;
    text-decoration: none;
  }
}

.line-break {
  border: 0;
  height: 2px;
  width: 80%;
  margin: 0 auto;
  margin-top: -0.5rem;
  margin-bottom: 1.0rem;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.background-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link-no-style {
  text-decoration: none;
  color: black;
}

.link-no-style:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.link-no-style:visited {
  text-decoration: none;
  color: black;
}
