.portfolio-card {
  margin-top: 10vh;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
  align-items: center;
  padding-bottom: 1rem;
}

.nalda {
  background-color: #e5f4fb;
}

.flourish {
  background-color: #f0fcef;
}

.portfolio-card-riplo {
  margin-top: 10vh;
  background-color: #F8F8F8;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
  align-items: center;
  padding: 0rem 1rem 2rem 1rem;
}

.portfolio-container {
  padding: 2rem 0rem;
  padding-bottom: 4rem;
  background-image: url('../images/backgrounds/abstract10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.portfolio-img {
  width: 103%;
}

.portfolio-title {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1.3rem;
}

.portfolio-description {
  font-size: 1rem;
}

.technologies {
  font-style: italic;
}

.riplo-title {
  font-family: "PT Sans","Roboto",sans-serif;
  float: right;
  font-size: 3rem;
  font-weight:bold;
}

.riplo-icon {
  width: 4rem;
  margin-right: 0.5rem;
}

.riplo-wrapper {
  margin-top: 2rem;
  text-align: left;
}

.riplo-text {
  font-size: 1.4rem;
}
