.background {
  text-align: center;
  background: #4056F4;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
}

.center-card {
  margin: 0 auto;
  background: #7CCAFA;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 2rem 0;
}

.rocket {
  margin: 2rem;
  height: 30vh;
}

.bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 7vw;
  font-style: italic;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-size: 3vw;
}
